body { 
     theme-color: #3B5998;
     background-image: url('https://retrobook.uk/assets/background/blue_background.png');
     background-size: cover;
     background-attachment: fixed;
}

p {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
}

a {
  font-family: "Jost", sans-serif;
  color: #1877F2;
}

a:hover {
  font-family: "Jost", sans-serif;
  color: #314A70; 
}

h1 {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
}

h2 {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
}

h3 {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
}

h4 {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
}

small {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
}

li {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
}
