body { 
     background-color: #2b2b2b;
     background-image: url('https://retrobook.uk/assets/background/blue_background.png');
     background-size: cover;
     background-attachment: fixed;
}
a {
    color: #0000FF; /* Replace with your preferred hex color code */
}
a:hover {
    color: #0000FF; /* Color when a user hovers over the link  */
}
    /* Makes all paragraphs white */
    p {
      color: #ffffff;
    }
    
    /* Makes elements with class "white-text" white */
    .white-text {
      color: white;
    }

    h1 {
      color: #ffffff;
    }
