body { 
     background-color: #2b2b2b;
     background-image: url('https://retrobook.uk/photo-1602475063211-3d98d60e3b1f.avif');
     background-size: cover;
     background-attachment: fixed;
}
a {
    color: #0000FF; /* Replace with your preferred hex color code */
}
a:hover {
    color: #0000FF; /* Color when a user hovers over the link  */
}
